.token::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #0005;
}

.player1 {
  @apply token;
  background-color: #ff0000;
}

.player2 {
  @apply token;
  background-color: #ffff00;
}